<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<div class="container">
			<ul class="posts"><li><div class="post-meta">
			<a class="post-link" href="/sobremi.html">
				<h2 class="post-title">Sobre Mi</h2>
			</a>
			
		</div>
		<div class="post"><h3>Vida Profesional y Academica</h3>
<center></center>
<p><b>Las fases están identificadas por separado:</b><br>
-El análisis y definición de requerimientos<br>
-Diseño del sistema y software.<br>
-Pruebas de implementación de unidades<br>
-Integración y pruebas del sistema<br>
-Operación y mantenimiento<br>
El principal inconveniente del modelo de la cascada es la dificultad de acomodar el cambio después de que está en marcha el proceso. En principio, una fase tiene que ser completada antes de pasar a la siguiente fase.</p>
</div>
	</li></ul>
		</div>
	</main>
	{%- include footer.html -%}
</body>
</html>
