<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<div class="container">
			<ul class="posts"><li><div class="post-meta">
			<a class="post-link" href="/sobremi.html">
				<h2 class="post-title">Sobre Mi</h2>
			</a>					
		</div>
		<div class="post"><h3>Informacion Adicional</h3>
<center></center>
<p><b>Actitudes y competencias:</b><br>
-Poseo conocimientos como matemáticos, físicos y conocimientos básicos de software como hardware y las metodologías ágiles para poder desarrollar con calidad<br>
-Proyectos de programas de ordenador con características específicas diferentes a otros proyectos de software.<br>
</div>
	</li></ul>
		</div>
	</main>
	{%- include footer.html -%}
</body>
</html>
